{
  "presets": [
    ["@babel/preset-env", {
      // "modules": "auto",  //"amd" | "umd" | "systemjs" | "commonjs" | "cjs" | "auto" | false, defaults to "auto"
      "targets":{
        "node":"current"
      }
    }],
    "@babel/preset-typescript"
  ],
  "plugins": []
}